<include file="Index:header" />
<style>
  .background-imgholder {
    background-image: url(/pic/page_banner.jpg) !important;
  }

  img.img-responsive {
    object-fit: cover;
    min-height: 100%;
    min-width: 100%;
    height: 260px;
  }

  img.img-whatwedo {
    display: block;
    max-width: 100%;
    height: 246px;
    margin: auto;
  }

  .sp-feature-box-3.margin-bottom {
    width: 70%;
    margin: auto;
  }

  @media screen and (min-width: 992px) {
    .text-box.padding-3 {
      height: 360px;
    }

    .text-box.padding-5 {
      height: 360px;
    }

  }
</style>
<div class="clearfix"></div>
<section class="section-side-image clearfix">
  <div class="img-holder col-md-12 col-sm-12 col-xs-12">
    <div class="background-imgholder" style="background:url(http://placehold.it/1500x1000);"><img
        class="nodisplay-image" src="http://placehold.it/1500x1000" alt="" /> </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 clearfix nopadding">
        <div class="header-inner less-height">
          <div class="overlay">
            <div class="text text-center">
              <h3 class="uppercase text-white less-mar-1 title">About Style 4</h3>
              <h6 class="uppercase text-white sub-title">Get Many More Features</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class=" clearfix"></div>
<!--end header section -->



<section class="sec-padding">
  <div class="container">
    <div class="row">

      <div class="col-md-9 col-centered text-center">
        <p style="font-size:18px;line-height:20px;">W Network’s mission is to provide results-driven solutions architect
          in
          management, design, development, implementation, services of IT and
          blockchain technologies and solutions. We are committed to assist the
          management to prioritize company activities and achieve major
          business objectives by translate business requirements effectively with
          the implementation of IT in order to allow company to achieve
          maximum benefit through this technologies.</p>
      </div>

    </div>
  </div>
</section>
<div class="clearfix"></div>
<!-- end section -->

<section class="sec-padding section-light">
  <div class="container">
    <div class="row">

      <div class="col-md-4">
        <div class="text-box white padding-3">
          <img src="/pic/keith.jpg" alt="" class="img-responsive" />

        </div>
      </div>
      <!--end item-->

      <div class="col-md-8">
        <div class="text-box white padding-5">

          <div class="col-xs-12 nopadding">
            <div class="sec-title-container less-padding-3 text-left">
              <div class="ce4-title-line-1 align-left"></div>
              <h4 class="uppercase font-weight-7 less-mar-1">Who We Are</h4>
            </div>
          </div>
          <!--end title-->

          <h4 class="raleway">Chief Executive Officer</h4>
          <p style="font-size:16px;line-height:20px">Founded by Mr. Keith Lau, W Network started in 2013 and over the
            years, W Network evolved from a small IT company into a trusted and
            reliable business partner for international companies and software
            agencies worldwide. W Network has talented employees in offices,
            including software developers, system analysts, project managers and
            customer services who are ready to assist clients’ business needs in a
            fast and responsive way as well as professional attitude.</p>
          <br />


        </div>
      </div>
      <!--end item-->

    </div>
  </div>
</section>
<div class="clearfix"></div>
<!-- end section -->

<div class="clearfix"></div>
<!-- end section -->

<div class="divider-line solid light"></div>

<section class="sec-padding" style="padding: 80px 0 20px 0;">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 nopadding">
        <div class="sec-title-container text-center">
          <div class="ce4-title-line-1"></div>
          <h4 class="uppercase font-weight-7 less-mar-1 text-black" style="font-size:32px;line-height:36px">Meet Our
            Team</h4>

        </div>
      </div>
      <div class="clearfix"></div>
      <!--end title-->

      <div class="col-md-3 col-sm-6 col-xs-12 text-center">
        <div class="ce4-feature-box-31 margin-bottom">
          <div class="img-box">
            <img src="/pic/sheila.jpg" alt="" class="img-responsive" />
          </div>
          <div class="clearfix"></div>
          <br />
          <h5 class="less-mar-1" style="font-size:16px;line-height:26px;font-weight:700;">SHEILA YEW</h5>
          <p class="text-gyellow" style="font-size:16px;line-height:26px;">Chief Technology Officer</p>
        </div>
      </div>
      <!--end item-->

      <div class="col-md-3 col-sm-6 col-xs-12 text-center">
        <div class="ce4-feature-box-31 margin-bottom">
          <div class="img-box">
            <img src="/pic/edward.jpg" alt="" class="img-responsive" />
          </div>
          <div class="clearfix"></div>
          <br />
          <h5 class="less-mar-1" style="font-size:16px;line-height:26px;font-weight:700;">EDWARD CHAN</h5>
          <p class="text-gyellow" style="font-size:16px;line-height:26px;">Chief Network Officer</p>
        </div>
      </div>
      <!--end item-->

      <div class="col-md-3 col-sm-6 col-xs-12 text-center">
        <div class="ce4-feature-box-31 margin-bottom">
          <div class="img-box">

            <img src="/pic/yongjian.jpg" alt="" class="img-responsive" />
          </div>
          <div class="clearfix"></div>
          <br />
          <h5 class="less-mar-1" style="font-size:16px;line-height:26px;font-weight:700;">WENG KIN</h5>
          <p class="text-gyellow" style="font-size:16px;line-height:26px;">Chief Network Officer</p>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12 text-center">
        <div class="ce4-feature-box-31 margin-bottom">
          <div class="img-box">
            <img src="/pic/michell.jpg" alt="" class="img-responsive" />
          </div>
          <div class="clearfix"></div>
          <br />
          <h5 class="less-mar-1" style="font-size:16px;line-height:26px;font-weight:700;">Michell Tang</h5>
          <p class="text-gyellow" style="font-size:16px;line-height:26px;">Business Development Executive</p>
        </div>
      </div>
      <!--end item-->

    </div>
    <div class="row">

      <div class="col-md-3 col-sm-6 col-xs-12 text-center">
        <div class="ce4-feature-box-31 margin-bottom">
          <div class="img-box">
            <img src="/pic/joy.jpg" alt="" class="img-responsive" />
          </div>
          <div class="clearfix"></div>
          <br />
          <h5 class="less-mar-1" style="font-size:16px;line-height:26px;font-weight:700;">Joy Ting</h5>
          <p class="text-gyellow" style="font-size:16px;line-height:26px;">Account Cum Admin Executive</p>
        </div>
      </div>
      <!--end item-->

      <div class="col-md-3 col-sm-6 col-xs-12 text-center">
        <div class="ce4-feature-box-31 margin-bottom">
          <div class="img-box">
            <img src="/pic/sean.jpg" alt="" class="img-responsive" />
          </div>
          <div class="clearfix"></div>
          <br />
          <h5 class="less-mar-1" style="font-size:16px;line-height:26px;font-weight:700;">SEAN LEE</h5>
          <p class="text-gyellow" style="font-size:16px;line-height:26px;">System Developer</p>
        </div>
      </div>
      <!--end item-->

      <div class="col-md-3 col-sm-6 col-xs-12 text-center">
        <div class="ce4-feature-box-31 margin-bottom">
          <div class="img-box">
            <img src="/pic/seik.jpg" alt="" class="img-responsive" />
          </div>
          <div class="clearfix"></div>
          <br />
          <h5 class="less-mar-1" style="font-size:16px;line-height:26px;font-weight:700;">SEIK</h5>
          <p class="text-gyellow" style="font-size:16px;line-height:26px;">System Developer</p>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12 text-center">
        <div class="ce4-feature-box-31 margin-bottom">
          <div class="img-box">
            <img src="/pic/chong.jpg" alt="" class="img-responsive" />
          </div>
          <div class="clearfix"></div>
          <br />
          <h5 class="less-mar-1" style="font-size:16px;line-height:26px;font-weight:700;">CHONG</h5>
          <p class="text-gyellow" style="font-size:16px;line-height:26px;">System Developer</p>
        </div>
      </div>
      <!--end item-->

    </div>
    <div class="row">

      <div class="col-md-3 col-sm-6 col-xs-12 text-center">
        <div class="ce4-feature-box-31 margin-bottom">
          <div class="img-box">
            <div class="icon-box">
              <ul class="sc-icons">
                <li><a target="_blank" class="twitter" href="https://twitter.com/codelayers"><i
                      class="fa fa-twitter"></i></a></li>
                <li><a target="_blank" href="https://www.facebook.com/codelayers"><i class="fa fa-facebook"></i></a>
                </li>
                <li><a class="active" href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
            <img src="/pic/chester.png" alt="" class="img-responsive" />
          </div>
          <div class="clearfix"></div>
          <br />
          <h5 class="less-mar-1" style="font-size:16px;line-height:26px;font-weight:700;">CHESTER YONG</h5>
          <p class="text-gyellow" style="font-size:16px;line-height:26px;">UI Designer</p>
        </div>
      </div>
      <!--end item-->

    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 nopadding">
        <div class="sec-title-container text-center">
          <div class="ce4-title-line-1"></div>
          <h4 class="uppercase font-weight-7 less-mar-1" style="font-size:32px;line-height:36px">What we Do</h4>
          <div class="clearfix"></div>
          <p class="by-sub-title" style="font-size:16px;line-height:20px">Popular Services </p>
        </div>
      </div>
      <div class="col-md-12 slide-controls-2">
        <div id="owl-demo5" class="owl-carousel">
          <div class="sp-feature-box-3 margin-bottom">
            <div class="img-box">
              <img src="/pic/feature_design.png" alt="" class="img-whatwedo" />
            </div>
            <div class="clearfix"></div>
            <br />
            <h5 class="uppercase less-mar-1" style="font-size:19px;line-height:26px;font-weight:700;">
              <center>Design</center>
            </h5>
            <center>
              <p style="font-size:16px;line-height:26px;">We will make sure to understand your business category
                completely before creating any design. In any form of designing, we will make sure your website or
                system stands apart from the crowd. Our web designers always create amazing designs that can fulfill
                your requirement, achieving a unique brand recognition and identity.</p>
            </center>
            <br />
          </div>
          <div class="sp-feature-box-3 margin-bottom">
            <div class="img-box">
              <img src="/pic/feature_theme.png" alt="" class="img-whatwedo" />
            </div>
            <div class="clearfix"></div>
            <br />
            <h5 class="uppercase less-mar-1" style="font-size:19px;line-height:26px;font-weight:700;">
              <center>Themes & Integration</center>
            </h5>
            <center>
              <p style="font-size:16px;line-height:26px;">Committed to delivering versatile web development services
                with full customer contentment, we give a true value to your project and your investment with the
                execution of enterprise-class theming & integration services. Our professional team is admired globally
                to fulfill clients’ complex needs thoroughly. .</p>
            </center>
            <br />
          </div>
          <div class="sp-feature-box-3 margin-bottom">
            <div class="img-box">
              <img src="/pic/feature_ecomerce.png" alt="" class="img-whatwedo" />
            </div>
            <div class="clearfix"></div>
            <br />
            <h5 class="uppercase less-mar-1" style="font-size:19px;line-height:26px;font-weight:700;">
              <center>E-Commerce</center>
            </h5>
            <center>
              <p style="font-size:16px;line-height:26px;">Expand business via multifarious digital channels all around
                the world. Our teams of experts have in-depth knowledge of various e-commerce web development platforms
                that can not only give a new look to your business, but also fuel it to move with amazing pace in the
                today’s cutthroat competition.</p>
            </center>
            <br />
          </div>
          <div class="sp-feature-box-3 margin-bottom">
            <div class="img-box">
              <img src="/pic/feature_web.png" alt="" class="img-whatwedo" />
            </div>
            <div class="clearfix"></div>
            <br />
            <h5 class="uppercase less-mar-1" style="font-size:19px;line-height:26px;font-weight:700;">
              <center>Web Development</center>
            </h5>
            <center>
              <p style="font-size:16px;line-height:26px;">With the matured skills of web development, we are confident
                that we can provide you the best web development solution. Helping your company to stand out from the
                usual web, achieving your company visions at the same time.</p>
            </center>
            <br />
          </div>
          <div class="sp-feature-box-3 margin-bottom">
            <div class="img-box">
              <img src="/pic/feature_mobile.png" alt="" class="img-whatwedo" />
            </div>
            <div class="clearfix"></div>
            <br />
            <h5 class="uppercase less-mar-1" style="font-size:19px;line-height:26px;font-weight:700;">
              <center>Mobile Application</center>
            </h5>
            <center>
              <p style="font-size:16px;line-height:26px;">Apart from web, our team do have the technology in building
                various kind of mobile application. With the special development skills and technology, there is not any
                mobile application that we cannot achieve.</p>
            </center>
            <br />
          </div>
        </div>
      </div>
      <!-- #owl-demo-2 -->
    </div>
  </div>
</section>
<div class="clearfix"></div>
<!-- end section -->

<div class="divider-line solid light"></div>

<include file="Index:footer" />
<script>
  $("#owl-demo5").owlCarousel({

    autoPlay: 3000, //Set AutoPlay to 3 seconds

    items: 2,
    itemsDesktop: [1199, 3],
    itemsDesktopSmall: [979, 3]

  });
</script>