<include file="Index:header" />
<style>
  .sec-title-container {
    padding-bottom: 30px;
  }

  .ce4-feature-box-3 .inner-box .iconbox-small {
    background-color: #ecae3d;
  }

  .cbp-l-grid-mosaic-flat .cbp-caption-activeWrap {
    background-color: #ecae3d;
  }

  #owl-demo5 .item img {
    display: initial;
    width: 50%;
    height: auto;
    margin: auto;
    margin-bottom: 15px;
  }

  @media screen and (max-width: 600px) {
    #slide-1-layer-5 {
      display: none;
    }

    #slide-1-layer-6b {
      display: none;
    }

    .inner-box.text-center {
      height: auto;
    }

    .ce4-feature-box-3.margin-bottom {
      margin-top: 0px;
    }
  }

  @media screen and (min-width: 600px) {
    #slide-1-layer-5-mobile {
      display: none;
    }

    #slide-1-layer-6b-mobile {
      display: none;
    }

    .inner-box.text-center {
      height: 340px;
    }

    .ce4-feature-box-3.margin-bottom {
      margin-top: 40px;
    }
  }
</style>
<div class="clearfix"></div>
<!-- START REVOLUTION SLIDER 5.0 -->
<div class="slide-tmargin">
  <div class="slidermaxwidth">
    <div class="rev_slider_wrapper">
      <!-- START REVOLUTION SLIDER 5.0 auto mode -->
      <div id="rev_slider" class="rev_slider" data-version="5.0">
        <ul>

          <!-- SLIDE  -->
          <li data-index="rs-1" data-transition="fade">
            <!-- MAIN IMAGE -->
            <img src="/pic/banner.jpg" alt="" width="1920" height="1280">




            <!-- LAYER NR. 4 -->
            <div class="tp-caption roboto bold uppercase white tp-resizeme" id="slide-1-layer-4"
              data-x="['left','left','center','center']" data-hoffset="['50','50','0','0']"
              data-y="['top','top','top','top']" data-voffset="['400','260','140','110']"
              data-fontsize="['80','80','50','30']" data-lineheight="['70','70','70','50']"
              data-transform_idle="o:1;tO:0% 50%;"
              data-transform_in="x:-50px;rY:-90deg;opacity:0;s:2000;e:Back.easeOut;"
              data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-start="1500"
              data-splitin="lines" data-splitout="none" data-responsive_offset="on" data-elementdelay="0.05"
              style="z-index: 6; white-space: nowrap; font-size: 56px; line-height: 72px;">W NETWORK</div>

            <!-- LAYER NR. 5 -->
            <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme" id="slide-1-layer-5"
              data-x="['left','left','center','center']" data-hoffset="['50','50','0','0']"
              data-y="['top','top','top','top']" data-voffset="['480','340','210','170']" data-width="530"
              data-height="2" data-whitespace="nowrap" data-transform_idle="o:1;"
              data-transform_in="x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeOut;"
              data-transform_out="opacity:0;s:300;s:300;" data-mask_in="x:0px;y:0px;" data-start="2000"
              data-responsive_offset="on"
              style="z-index: 6;text-transform:left;background-color:#FFB500;border-color:rgba(0, 0, 0, 0);"> </div>
            <!------------------Mobile----------------------->
            <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme" id="slide-1-layer-5-mobile"
              data-x="['left','left','center','center']" data-hoffset="['50','50','0','0']"
              data-y="['top','top','top','top']" data-voffset="['480','340','210','170']" data-width="300"
              data-height="2" data-whitespace="nowrap" data-transform_idle="o:1;"
              data-transform_in="x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeOut;"
              data-transform_out="opacity:0;s:300;s:300;" data-mask_in="x:0px;y:0px;" data-start="2000"
              data-responsive_offset="on"
              style="z-index: 6;text-transform:left;background-color:#FFB500;border-color:rgba(0, 0, 0, 0);"> </div>

            <!-- LAYER NR. 6 -->
            <div class="tp-caption roboto dark-grey uppercase white tp-resizeme" id="slide-1-layer-6"
              data-x="['left','left','center','center']" data-hoffset="['50','50','0','0']"
              data-y="['top','top','top','top']" data-voffset="['480','340','220','180']"
              data-fontsize="['24','24','14','14']" data-lineheight="['30','10','70','10']"
              data-transform_idle="o:1;tO:0% 50%;"
              data-transform_in="x:-50px;rY:-90deg;opacity:0;s:2000;e:Back.easeOut;"
              data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-start="2500"
              data-splitin="lines" data-splitout="none" data-responsive_offset="on" data-elementdelay="0.05"
              style="z-index: 6; white-space: nowrap; font-size: 24px; line-height: 36px;color:white;margin-top:10px;font-family:Inter!important;">
              One STOP SOLUTION FOR</div>


            <div class="tp-caption roboto dark-grey uppercase white tp-resizeme" id="slide-1-layer-6b"
              data-x="['left','left','center','center']" data-hoffset="['50','50','0','0']"
              data-y="['top','top','top','top']" data-voffset="['480','340','220','180']"
              data-fontsize="['24','24','14','14']" data-lineheight="['60','20','70','10']"
              data-transform_idle="o:1;tO:0% 50%;"
              data-transform_in="x:-50px;rY:-90deg;opacity:0;s:2000;e:Back.easeOut;"
              data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-start="2500"
              data-splitin="lines" data-splitout="none" data-responsive_offset="on" data-elementdelay="0.05"
              style="z-index: 6; white-space: nowrap; font-size: 30px; line-height: 10px;color:white;margin-top:25px;font-family:Inter!important;">
              ALL TECHNICAL NEEDS</div>
            <!------------------Mobile----------------------->
            <div class="tp-caption roboto dark-grey uppercase white tp-resizeme" id="slide-1-layer-6b-mobile"
              data-x="['left','left','center','center']" data-hoffset="['50','50','0','0']"
              data-y="['top','top','top','top']" data-voffset="['480','340','220','180']"
              data-fontsize="['16','16','14','14']" data-lineheight="['60','20','70','10']"
              data-transform_idle="o:1;tO:0% 50%;"
              data-transform_in="x:-50px;rY:-90deg;opacity:0;s:2000;e:Back.easeOut;"
              data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-start="2500"
              data-splitin="lines" data-splitout="none" data-responsive_offset="on" data-elementdelay="0.05"
              style="z-index: 6; white-space: nowrap; font-size: 30px; line-height: 10px;color:white;margin-top:30px;font-family:Inter!important;">
              ALL TECHNICAL NEEDS</div>


          </li>
        </ul>
      </div>
      <!-- END REVOLUTION SLIDER -->
    </div>
  </div>
  <!-- END REVOLUTION SLIDER WRAPPER -->
</div>
<div class="clearfix"></div>
<!-- END OF SLIDER WRAPPER -->
<section class="sec-padding section-light">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 nopadding">
        <div class="sec-title-container text-center">
          <div class="ce4-title-line-1"></div>
          <h4 class="uppercase font-weight-7 less-mar-1" style="font-size:32px;line-height:36px">What we Do</h4>
          <div class="clearfix"></div>
          <p class="by-sub-title" style="font-size:16px;line-height:20px">One stop solution that helps your business
            grow better and faster in order to reach the global market.</p>
        </div>
      </div>
      <div class="col-md-12 slide-controls-2">
        <div id="owl-demo5" class="owl-carousel">
          <div class="item article-items">
            <div class="aticle-box">
              <div class="box-content" style="margin: 5px;">
                <div class="ce4-feature-box-3 margin-bottom">
                  <div class="inner-box text-center">
                    <div class="iconbox-small center outline-gray-2 round"><img src="/pic/design.png"
                        alt="Italian Trulli"></div>
                    <h5 class="uppercase less-mar-1"
                      style="font-size:19px;line-height:26px;font-weight:700;margin-top:0px;margin-bottom:8px">Design
                    </h5>


                    <p style="font-size:16px;line-height:26px;">We will make sure to understand your business category
                      completely before creating any design. In any form of designing, we will make sure your website or
                      system stands apart from the crowd. Our web designers always create amazing designs that can
                      fulfill your requirement, achieving a unique brand recognition and identity.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item article-items">
            <div class="aticle-box">
              <div class="box-content" style="margin: 5px;">
                <div class="ce4-feature-box-3 margin-bottom">
                  <div class="inner-box text-center">
                    <div class="iconbox-small center outline-gray-2 round"><img src="/pic/sketch.png"
                        alt="Italian Trulli"></div>
                    <h5 class="uppercase less-mar-1"
                      style="font-size:19px;line-height:26px;font-weight:700;margin-top:0px;margin-bottom:8px">Themes &
                      Integration</h5>


                    <p style="font-size:16px;line-height:26px;">Committed to delivering versatile web development
                      services with full customer contentment, we give a true value to your project and your investment
                      with the execution of enterprise-class theming & integration services. Our professional team is
                      admired globally to fulfill clients’ complex needs thoroughly. .</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item article-items">
            <div class="aticle-box">
              <div class="box-content" style="margin: 5px;">
                <div class="ce4-feature-box-3 margin-bottom">
                  <div class="inner-box text-center">
                    <div class="iconbox-small center outline-gray-2 round"><img src="/pic/ecommerce.png"
                        alt="Italian Trulli"></div>
                    <h5 class="uppercase less-mar-1"
                      style="font-size:19px;line-height:26px;font-weight:700;margin-top:0px;margin-bottom:8px">
                      E-Commerce</h5>


                    <p style="font-size:16px;line-height:26px;">Expand business via multifarious digital channels all
                      around the world. Our teams of experts have in-depth knowledge of various e-commerce web
                      development platforms that can not only give a new look to your business, but also fuel it to move
                      with amazing pace in the today’s cutthroat competition.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item article-items">
            <div class="aticle-box">
              <div class="box-content" style="margin: 5px;">
                <div class="ce4-feature-box-3 margin-bottom">
                  <div class="inner-box text-center">
                    <div class="iconbox-small center outline-gray-2 round"><img src="/pic/web.png" alt="Italian Trulli">
                    </div>
                    <h5 class="uppercase less-mar-1"
                      style="font-size:19px;line-height:26px;font-weight:700;margin-top:0px;margin-bottom:8px">Web
                      Development</h5>


                    <p style="font-size:16px;line-height:26px;">With the matured skills of web development, we are
                      confident that we can provide you the best web development solution. Helping your company to stand
                      out from the usual web, achieving your company visions at the same time.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item article-items">
            <div class="aticle-box">
              <div class="box-content" style="margin: 5px;">
                <div class="ce4-feature-box-3 margin-bottom">
                  <div class="inner-box text-center">
                    <div class="iconbox-small center outline-gray-2 round"><img src="/pic/develop.png"
                        alt="Italian Trulli"></div>
                    <h5 class="uppercase less-mar-1"
                      style="font-size:19px;line-height:26px;font-weight:700;margin-top:0px;margin-bottom:8px">Mobile
                      Application</h5>


                    <p style="font-size:16px;line-height:26px;">Apart from web, our team do have the technology in
                      building various kind of mobile application. With the special development skills and technology,
                      there is not any mobile application that we cannot achieve.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- #owl-demo-2 -->
    </div>
  </div>
</section>
<div class="clearfix"></div>
<!-- end section -->

<section>
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="col-md-4">
        <div class="ce4-feature-box-46 mar-top">
          <div class="img-box">

            <img src="/pic/office1.jpg" alt="" class="img-responsive" />
          </div>
        </div>
      </div>
      <!--end item -->

      <div class="col-md-4">
        <div class="ce4-feature-box-46 middle-item">
          <div class="img-box">
            <div class="border-big"></div>

            <img src="/pic/office2.jpg" alt="" class="img-responsive" style="height: 100%;position: absolute;" />
          </div>
        </div>
      </div>
      <!--end item -->

      <div class="col-md-4">
        <div class="ce4-feature-box-46 mar-top">
          <div class="img-box">

            <img src="/pic/office3.jpg" alt="" class="img-responsive" />
          </div>
        </div>
      </div>
      <!--end item -->

    </div>
  </div>
</section>
<div class="clearfix"></div>
<!-- end section -->


<section class="sec-padding">
  <div class="container">
    <div class="row">

      <div class="col-xs-12 nopadding">
        <div class="sec-title-container text-center">
          <div class="ce4-title-line-1"></div>
          <h4 class="uppercase font-weight-7 less-mar-1" style="font-size:32px;line-height:36px">Our Services</h4>
          <div class="clearfix"></div>
          <p class="by-sub-title" style="font-size:16px;line-height:20px">From A to Z, we provide the highest operating
            procedures to our honor client.</p>
        </div>
      </div>
      <div class="clearfix"></div>
      <!--end title-->
      <!--end item-->
      <div class="col-md-12">
        <ul class="ce4-icon-text-list">

          <li>
            <div class="iconbox-small left outline-gray-2 round"><span>01</span></div>
            <div class="text-box-right">
              <h5 class="uppercase less-mar-2" style="font-size:16px;line-height:24px">IDEA</h5>
              <p style="font-size:14px;line-height:20px">To analyze the requirement through indepth research with the
                help of brilliant tools.</p>
            </div>
          </li>

          <li>
            <div class="iconbox-small left outline-gray-2 round"><span>02</span></div>
            <div class="text-box-right">
              <h5 class="uppercase less-mar-2" style="font-size:16px;line-height:24px">SKETCH</h5>
              <p style="font-size:14px;line-height:20px">To draft the design that is related to the research in order to
                check the feasibility.</p>
            </div>
          </li>


          <li>
            <div class="iconbox-small left outline-gray-2 round" style="background:#FFB500"><span
                style="color:white">03</span></div>
            <div class="text-box-right">
              <h5 class="uppercase less-mar-2" style="font-size:16px;line-height:24px">DESIGN</h5>
              <p style="font-size:14px;line-height:20px">After completing feasibility test, a final design is prepared
                by using smart tools.</p>
            </div>
          </li>

          <li>
            <div class="iconbox-small left outline-gray-2 round" style="background:#FFB500"><span
                style="color:white">04</span></div>
            <div class="text-box-right">
              <h5 class="uppercase less-mar-2" style="font-size:16px;line-height:24px">DEVELOP</h5>
              <p style="font-size:14px;line-height:20px">Now, our the development team starts developing the solution
                according to design.</p>
            </div>
          </li>

          <li>
            <div class="iconbox-small left outline-gray-2 round"><span>05</span></div>
            <div class="text-box-right">
              <h5 class="uppercase less-mar-2" style="font-size:16px;line-height:24px">TEST</h5>
              <p style="font-size:14px;line-height:20px">In testing phase, we test every component to make sure that our
                solution fits the requirement.</p>
            </div>
          </li>

          <li>
            <div class="iconbox-small left outline-gray-2 round"><span>06</span></div>
            <div class="text-box-right">
              <h5 class="uppercase less-mar-2" style="font-size:16px;line-height:24px">CELEBRATE</h5>
              <p style="font-size:14px;line-height:20px">We make delivery for the solution and assist our clients to
                control and administer solution.</p>
            </div>
          </li>
        </ul>
      </div>
      <!--end item-->
    </div>
  </div>
</section>
<div class="clearfix"></div>
<!--end section-->

<div class="divider-line solid light"></div>
<section class="sec-tpadding-2">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 nopadding">
        <div class="sec-title-container text-center">
          <div class="ce4-title-line-1"></div>
          <h4 class="uppercase font-weight-7 less-mar-1" style="font-size:32px;line-height:36px">featured projects</h4>
          <div class="clearfix"></div>
          <p class="by-sub-title" style="font-size:16px;line-height:20px">Every project is unique. For Us 。 For You 。
            For Client</p>
        </div>
      </div>
      <div class="clearfix"></div>
      <!--end title-->

      <div>
        <div id="js-filters-mosaic-flat" class="cbp-l-filters-buttonCenter">
          <div data-filter="*" class="cbp-filter-item-active cbp-filter-item" style="font-size:16px;line-height:24px">
            All
            <div class="cbp-filter-counter"></div>
          </div>
          <div data-filter=".web-design" class="cbp-filter-item" style="font-size:16px;line-height:24px"> Web Design
            <div class="cbp-filter-counter"></div>
          </div>
          <div data-filter=".motion" class="cbp-filter-item" style="font-size:16px;line-height:24px"> Mobile Design
            <div class="cbp-filter-counter"></div>
          </div>
        </div>
        <div id="js-grid-mosaic-flat" class="cbp cbp-l-grid-mosaic-flat">

          <div class="cbp-item web-design print"> <a href="/pic/website1.png" class="cbp-caption cbp-lightbox"
              data-title="Bolt UI<br>by Tiberiu Neamu">
              <div class="cbp-caption-defaultWrap"> <img src="/pic/website1.png" alt=""> </div>
              <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                    <div class="cbp-l-caption-title">Lirunex</div>
                  </div>
                </div>
              </div>
            </a> </div>
          <div class="cbp-item web-design print"> <a href="/pic/website2.png" class="cbp-caption cbp-lightbox"
              data-title="Bolt UI<br>by Tiberiu Neamu">
              <div class="cbp-caption-defaultWrap"> <img src="/pic/website2.png" alt=""> </div>
              <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                    <div class="cbp-l-caption-title">Twins Palms</div>
                  </div>
                </div>
              </div>
            </a> </div>
          <div class="cbp-item web-design print"> <a href="/pic/website3.png" class="cbp-caption cbp-lightbox"
              data-title="Bolt UI<br>by Tiberiu Neamu">
              <div class="cbp-caption-defaultWrap"> <img src="/pic/website3.png" alt=""> </div>
              <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                    <div class="cbp-l-caption-title">Ionpay</div>
                  </div>
                </div>
              </div>
            </a> </div>
          <div class="cbp-item web-design print"> <a href="/pic/website4.png" class="cbp-caption cbp-lightbox"
              data-title="Bolt UI<br>by Tiberiu Neamu">
              <div class="cbp-caption-defaultWrap"> <img src="/pic/website4.png" alt=""> </div>
              <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                    <div class="cbp-l-caption-title">Ionpay</div>
                  </div>
                </div>
              </div>
            </a> </div>
          <div class="cbp-item web-design print"> <a href="/pic/website5.png" class="cbp-caption cbp-lightbox"
              data-title="Bolt UI<br>by Tiberiu Neamu">
              <div class="cbp-caption-defaultWrap"> <img src="/pic/website5.png" alt=""> </div>
              <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                    <div class="cbp-l-caption-title">Fintech Bank</div>
                  </div>
                </div>
              </div>
            </a> </div>
          <div class="cbp-item web-design print"> <a href="/pic/website6.png" class="cbp-caption cbp-lightbox"
              data-title="Bolt UI<br>by Tiberiu Neamu">
              <div class="cbp-caption-defaultWrap"> <img src="/pic/website6.png" alt=""> </div>
              <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                    <div class="cbp-l-caption-title">HGWV EV</div>
                  </div>
                </div>
              </div>
            </a> </div>
          <div class="cbp-item print motion"> <a href="/pic/mobile1.png" class="cbp-caption cbp-lightbox"
              data-title="Bolt UI<br>by Tiberiu Neamu">
              <div class="cbp-caption-defaultWrap"> <img src="/pic/mobile1.png" alt=""> </div>
              <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                    <div class="cbp-l-caption-title">Ionpay</div>
                  </div>
                </div>
              </div>
            </a> </div>
          <div class="cbp-item print motion"> <a href="/pic/mobile2.png" class="cbp-caption cbp-lightbox"
              data-title="Bolt UI<br>by Tiberiu Neamu">
              <div class="cbp-caption-defaultWrap"> <img src="/pic/mobile2.png" alt=""> </div>
              <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                    <div class="cbp-l-caption-title">Galaxy</div>
                  </div>
                </div>
              </div>
            </a> </div>
          <div class="cbp-item print motion"> <a href="/pic/mobile3.png" class="cbp-caption cbp-lightbox"
              data-title="Bolt UI<br>by Tiberiu Neamu">
              <div class="cbp-caption-defaultWrap"> <img src="/pic/mobile3.png" alt=""> </div>
              <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                    <div class="cbp-l-caption-title">MSS</div>
                  </div>
                </div>
              </div>
            </a> </div>
          <div class="cbp-item print motion"> <a href="/pic/mobile4.png" class="cbp-caption cbp-lightbox"
              data-title="Bolt UI<br>by Tiberiu Neamu">
              <div class="cbp-caption-defaultWrap"> <img src="/pic/mobile4.png" alt=""> </div>
              <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                    <div class="cbp-l-caption-title">SEN</div>
                  </div>
                </div>
              </div>
            </a> </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="clearfix"></div>
<!-- end section -->


<section class="sec-padding section-light">
  <div class="container">
    <div class="sec-title-container text-center">
      <div class="ce4-title-line-1"></div>
      <h4 class="uppercase font-weight-7 less-mar-1" style="font-size:32px;line-height:36px">Our Clientele</h4>
      <div class="clearfix"></div>
      <p class="by-sub-title" style="font-size:16px;line-height:20px">It is our honor to be your IT solutions partner.
      </p>
    </div>
    <div class="clearfix"></div>
    <div class="divider-line solid light opacity-1"></div>
    <div class="row section-less-padding">
      <ul class="clients-list grid-cols-6 hover-4 noborder">
        <li><a href="#"><img src="/pic/twinpalm.png" alt=""></a></li>
        <li><a href="#"><img src="/pic/fintech.png" alt=""></a></li>
        <li><a href="#"><img src="/pic/inbocsz.png" alt=""></a></li>
        <li><a href="#"><img src="/pic/Linurex.png" alt=""></a></li>
        <li><a href="#"><img src="/pic/UWE.png" alt=""></a></li>

      </ul>
    </div>
  </div>
</section>
<div class="clearfix"></div>
<!-- end section -->



<!-- end section -->
<include file="Index:footer" />