<include file="Index:header" />
<style>
  .background-imgholder {
    background-image: url(/pic/page_banner.jpg) !important;
  }

  .sec-title-container {
    padding-bottom: 30px;
  }

  #owl-demo5 .item img {
    display: initial;
    width: 50%;
    height: auto;
    margin: auto;
    margin-bottom: 15px;
  }

  @media screen and (max-width: 600px) {
    #slide-1-layer-5 {
      display: none;
    }

    #slide-1-layer-6b {
      display: none;
    }

    .inner-box.text-center {
      height: auto;
    }

    .ce4-feature-box-3.margin-bottom {
      margin-top: 0px;
    }

    .cbp-item.web-design.print {
      width: 100%;
    }
  }

  @media screen and (min-width: 600px) {
    #slide-1-layer-5-mobile {
      display: none;
    }

    #slide-1-layer-6b-mobile {
      display: none;
    }

    .inner-box.text-center {
      height: 340px;
    }

    .ce4-feature-box-3.margin-bottom {
      margin-top: 40px;
    }
  }
</style>
<div class="clearfix"></div>
<!-- START REVOLUTION SLIDER 5.0 -->
<section class="section-side-image clearfix">
  <div class="img-holder col-md-12 col-sm-12 col-xs-12">
    <div class="background-imgholder" style="background:url(http://placehold.it/1500x1000);"><img
        class="nodisplay-image" src="http://placehold.it/1500x1000" alt="" /> </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 clearfix nopadding">
        <div class="header-inner less-height">
          <div class="overlay">
            <div class="text text-center">
              <h3 class="uppercase text-white less-mar-1 title">About Style 4</h3>
              <h6 class="uppercase text-white sub-title">Get Many More Features</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="clearfix"></div>
<!-- END OF SLIDER WRAPPER -->

<div class="divider-line solid light"></div>
<section class="sec-tpadding-2" style="margin-bottom:80px;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 nopadding">
        <div class="sec-title-container text-center">
          <div class="ce4-title-line-1"></div>
          <h4 class="uppercase font-weight-7 less-mar-1" style="font-size:32px;line-height:36px">featured projects</h4>
          <div class="clearfix"></div>
          <p class="by-sub-title" style="font-size:16px;line-height:20px">Every project is unique. For Us 。 For You 。
            For Client</p>
        </div>
      </div>
      <div class="clearfix"></div>
      <!--end title-->

      <div>
        <div id="js-filters-mosaic-flat" class="cbp-l-filters-buttonCenter">
          <div data-filter="*" class="cbp-filter-item-active cbp-filter-item" style="font-size:16px;line-height:24px">
            All
            <div class="cbp-filter-counter"></div>
          </div>
          <div data-filter=".web-design" class="cbp-filter-item" style="font-size:16px;line-height:24px"> Web Design
            <div class="cbp-filter-counter"></div>
          </div>
          <div data-filter=".motion" class="cbp-filter-item" style="font-size:16px;line-height:24px"> Mobile Design
            <div class="cbp-filter-counter"></div>
          </div>
        </div>
        <div id="js-grid-mosaic-flat" class="cbp cbp-l-grid-mosaic-flat">

          <div class="cbp-item web-design print"> <a href="/pic/website1.png" class="cbp-caption cbp-lightbox"
              data-title="Bolt UI<br>by Tiberiu Neamu">
              <div class="cbp-caption-defaultWrap"> <img src="/pic/website1.png" alt=""> </div>
              <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                    <div class="cbp-l-caption-title">Lirunex</div>
                  </div>
                </div>
              </div>
            </a> </div>
          <div class="cbp-item web-design print"> <a href="/pic/website2.png" class="cbp-caption cbp-lightbox"
              data-title="Bolt UI<br>by Tiberiu Neamu">
              <div class="cbp-caption-defaultWrap"> <img src="/pic/website2.png" alt=""> </div>
              <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                    <div class="cbp-l-caption-title">Twins Palms</div>
                  </div>
                </div>
              </div>
            </a> </div>
          <div class="cbp-item web-design print"> <a href="/pic/website3.png" class="cbp-caption cbp-lightbox"
              data-title="Bolt UI<br>by Tiberiu Neamu">
              <div class="cbp-caption-defaultWrap"> <img src="/pic/website3.png" alt=""> </div>
              <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                    <div class="cbp-l-caption-title">Ionpay</div>
                  </div>
                </div>
              </div>
            </a> </div>
          <div class="cbp-item web-design print"> <a href="/pic/website4.png" class="cbp-caption cbp-lightbox"
              data-title="Bolt UI<br>by Tiberiu Neamu">
              <div class="cbp-caption-defaultWrap"> <img src="/pic/website4.png" alt=""> </div>
              <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                    <div class="cbp-l-caption-title">Ionpay</div>
                  </div>
                </div>
              </div>
            </a> </div>
          <div class="cbp-item web-design print"> <a href="/pic/website5.png" class="cbp-caption cbp-lightbox"
              data-title="Bolt UI<br>by Tiberiu Neamu">
              <div class="cbp-caption-defaultWrap"> <img src="/pic/website5.png" alt=""> </div>
              <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                    <div class="cbp-l-caption-title">Fintech Bank</div>
                  </div>
                </div>
              </div>
            </a> </div>
          <div class="cbp-item web-design print"> <a href="/pic/website6.png" class="cbp-caption cbp-lightbox"
              data-title="Bolt UI<br>by Tiberiu Neamu">
              <div class="cbp-caption-defaultWrap"> <img src="/pic/website6.png" alt=""> </div>
              <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                    <div class="cbp-l-caption-title">HGWV EV</div>
                  </div>
                </div>
              </div>
            </a> </div>
          <div class="cbp-item print motion"> <a href="/pic/mobile1.png" class="cbp-caption cbp-lightbox"
              data-title="Bolt UI<br>by Tiberiu Neamu">
              <div class="cbp-caption-defaultWrap"> <img src="/pic/mobile1.png" alt=""> </div>
              <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                    <div class="cbp-l-caption-title">Ionpay</div>
                  </div>
                </div>
              </div>
            </a> </div>
          <div class="cbp-item print motion"> <a href="/pic/mobile2.png" class="cbp-caption cbp-lightbox"
              data-title="Bolt UI<br>by Tiberiu Neamu">
              <div class="cbp-caption-defaultWrap"> <img src="/pic/mobile2.png" alt=""> </div>
              <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                    <div class="cbp-l-caption-title">Galaxy</div>
                  </div>
                </div>
              </div>
            </a> </div>
          <div class="cbp-item print motion"> <a href="/pic/mobile3.png" class="cbp-caption cbp-lightbox"
              data-title="Bolt UI<br>by Tiberiu Neamu">
              <div class="cbp-caption-defaultWrap"> <img src="/pic/mobile3.png" alt=""> </div>
              <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                    <div class="cbp-l-caption-title">MSS</div>
                  </div>
                </div>
              </div>
            </a> </div>
          <div class="cbp-item print motion"> <a href="/pic/mobile4.png" class="cbp-caption cbp-lightbox"
              data-title="Bolt UI<br>by Tiberiu Neamu">
              <div class="cbp-caption-defaultWrap"> <img src="/pic/mobile4.png" alt=""> </div>
              <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                    <div class="cbp-l-caption-title">SEN</div>
                  </div>
                </div>
              </div>
            </a> </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="clearfix"></div>
<!-- end section -->

<!-- end section -->



<!-- end section -->
<include file="Index:footer" />